<div class="col-xs-12 col-sm-12">
	<div class="post">
		<div class="post-heading">
			<span>{{ post.PublishedAt|date("d F") }}</span>
			<img class="img-responsive" src="{{ asset('images/index/gallery/' ~ post.Image) }}" alt="post's picture">
		</div>
		<div class="post-body">
			<h3>
				<a href="{{ path('single_post', {'slug': post.Slug}) }}">
					<strong>{{ post.Title }}</strong>
				</a>
			</h3>
			<hr>
			<p>{{ post.Content }}
			</p>
		</div>
		<div class="post-footer">
			<a class="btn" href="{{ path('single_post', {'slug': post.Slug}) }}">READ MORE...</a>
			<span>
				<i class="fa fa-heart sr-icons"></i>
				{{ post.NumLikes }}
			</span>
		</div>
	</div>
</div>
