 <div class="new new1">
    <hr>
        <a href="{{ path('single_post', {'slug':recent.slug}) }}">{{ recent.title }}</a>
        <h5> By <span>{{ recent.user.name }}</span></h5>
        <p>{{ recent.PublishedAt | date('d') }} {{ recent.PublishedAt | date('F') }}</p>
        <p><i class="fa fa-clock-o sr-icons"></i> 
         {{ recent.PublishedAt | date('h') }} 
         {{ recent.PublishedAt | date('A') }}
         </p>
</div>
    